# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build output (committed for Railway deployment)
# client/dist/

# Environment variables
.env
server/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

#Claude
.claude

# public
client/public/image